.item_card {
  cursor: pointer;
  display: inline-block;
  width: 80%;
  max-width: 15rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  background-color: white;
  border-radius: 0.5rem;
}

.item_card > img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.item_card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.tags {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.card_details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
