.main-container {
  overflow-y: scroll;
  position: relative;
  top: 3rem;
}

.main-wrap {
  max-width: 54rem;
  margin-bottom: 7rem;
  margin-left: auto;
  margin-right: auto;
}

.main-header-title {
  text-align: center;
  font-size: 3.1rem;
  position: relative;
  letter-spacing: 0.05em;
  margin: 1.8rem 0 1.8rem;
  font-weight: bold;
}

.logo-image {
  bottom: 5%;
  left: 100%;
  height: 75%;
  margin-left: 0;
  position: absolute;
  width: auto;
}

.non-block {
  clear: left;
  padding-bottom: 3.6rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.basic-info-block {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 2px rgb(84, 84, 84);
  margin-bottom: 4.5rem;
  position: relative;
  padding: 1.8rem;
}

.basic-info-block h3 {
  font-size: 1.2rem;
  position: relative;
  width: 100%;
  margin-bottom: 2.7rem;
  text-align: center;
  font-weight: bold;
}

.edit-form-group {
  position: relative;
  padding-top: 0.95rem;
  margin-top: 0.25rem;
  margin-bottom: 0.76rem;
}
.basic-info-block .basic-instructions {
  color: #888;
  margin-top: -1.8rem;
  margin-bottom: 2.7rem;
  position: relative;
  text-align: center;
}

.condition-dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}
.condition-dropdown label {
  color: #2d545e;
  font-size: 0.95rem;
}

.date-picker label {
  color: #2d545e;
  font-size: 0.95rem;
}

select {
  background: none;
  line-height: 1.9;
  transition: all 0.28s ease;
  box-shadow: none;
  display: block;
  width: 100%;
  border-width: 0;
  resize: none;
  border-color: transparent;
  padding: 0.11875rem 0.11875rem 0.059375rem;
  font-size: 16px !important;
  height: 1.805rem;
  outline: none;
}

.date-picker {
  margin-top: 0.25rem;
  gap: 2px !important;
  width: 100%;
  outline: none !important;
}

.ant-picker {
  width: 100%;
  border: none !important;
  padding: 11px 0 !important;
  outline: none !important;
}
