.wrapper {
  margin-top: auto;
  width: 100%;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}
