* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito";
}
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}
body {
  box-sizing: border-box;
  background: #e8e7f6 !important;
  display: flex;
  flex-direction: column;
  height: 100vh;
  letter-spacing: 0.1rem;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
